[Unit]
Description=SAHA Data Forwarding Scheduler to EGAT 
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=10min
StartLimitBurst=4           # initial start + up to 3 retries within 10 min

[Service]
Type=oneshot                # run-to-completion job
User=scgce
WorkingDirectory=/home/scgce/EGAT_API_forecast/saha_union_api
ExecStart=/usr/bin/python3 /home/scgce/EGAT_API_forecast/saha_union_api/saha_egat_push_data copy.py
Restart=on-failure          # retry if exit code != 0 or crash
RestartSec=30s              # wait 30s before retry
TimeoutStartSec=5min        # avoid hanging forever
