[Unit]
Description=SAHA Data Forwarding Scheduler to EGAT 
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=10min
StartLimitBurst=4

[Service]
Type=oneshot
User=scgce
WorkingDirectory=/home/scgce/EGAT_API_forecast/saha_union_api
ExecStart=/usr/bin/python3 /home/scgce/EGAT_API_forecast/saha_union_api/saha_egat_push_data.py
Restart=on-failure
RestartSec=30s
TimeoutStartSec=5min
